[submodule "bundle/conque"]
	path = bundle/conque
	url = git://github.com/rson/vim-conque.git
[submodule "CmdlineComplete"]
	path = CmdlineComplete
	url = git://github.com/vim-scripts/CmdlineComplete.git
[submodule "bundle/CmdlineComplete"]
	path = bundle/CmdlineComplete
	url = git://github.com/vim-scripts/CmdlineComplete.git
