[submodule "bundle/conque"]
	path = bundle/conque
	url = git://github.com/rson/vim-conque.git
[submodule "CmdlineComplete"]
	path = CmdlineComplete
	url = git://github.com/vim-scripts/CmdlineComplete.git
[submodule "bundle/CmdlineComplete"]
	path = bundle/CmdlineComplete
	url = git://github.com/vim-scripts/CmdlineComplete.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule "bundle/easygrep"]
	path = bundle/easygrep
	url = git://github.com/gaving/vim-easygrep.git
